<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Java社区</title>
    <div th:insert="module/head :: style"></div>
    <link rel="stylesheet" href="/plugins/markdown/css/editormd.css" />
    <link rel="stylesheet" href="/plugins/layui-v2.5.4/layui/css/layui.css"  media="all">
</head>
<body>
    <div th:insert="module/navHead :: nav"></div>
    <div class="row" style="margin: 50px 100px; border: 2px solid #f8f8f8">
        <div class="col-lg-9 col-md-9 col-sm-9">
            <div class="media" style="margin-top: 20px">
                <form action="/user/publish" method="post">
                    <div class="media-body" >
                        <h2 class="media-heading"><span class="glyphicon glyphicon-plus"></span>发布</h2>
                        <hr>
                        <div class="form-group">
                            <label for="title">标题</label>
                            <input type="hidden" name="publisher" th:value="${session.user.id}">
                            <input type="hidden" name="questionId" th:value="${questionAndUserDto != null ? questionAndUserDto.id : ''}">
                            <input type="text" class="form-control" th:value="${questionAndUserDto != null ? questionAndUserDto.title :  ''}" name="title" id="title" placeholder="请输入问题标题">
                        </div>

                        <div class="form-group" id="question-editor">
                            <textarea class="form-control" name="content" id="description" style="display:none;" th:text="${questionAndUserDto != null ? questionAndUserDto.content : ''}"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="label">标签</label>
                            <input type="text" class="form-control" id="label" name="labels" th:value="${questionAndUserDto != null ? questionAndUserDto.labels : ''}" placeholder="请输入所属标签">
                        </div>
                        <button type="submit" class="btn btn-success">发布</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="media" style="margin-top: 20px">
                <div class="media-body" >
                    <h2 class="media-heading">提示</h2>
                    <hr>
                    <div>
                        <h3>问题发起指南</h3>
                        &#8226; 问题标题：请用精简的语言描述您发布的问题，不超过25字<br>
                        &#8226; 问题补充：详细补充您的问题内容，并确保您的问题描述清晰直观，并提供相关的资料<br>
                        &#8226; 选择标签：选择一个或多个合适标签，不超过10个字<br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/plugins/markdown/editormd.min.js"></script>
    <script type="text/javascript">
        $(function() {
            var editor = editormd("question-editor", {
                width  : "100%",
                height : 500,
                path   : "/plugins/markdown/lib/",
                delay : 0,
                watch : false,
                placeholder : "问题补充（必填，请参照提示）"
            });
        });
    </script>
    <script src="/plugins/layui-v2.5.4/layui/layui.js" charset="utf-8"></script>
    <script th:if="${msg != null}">
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.msg('发布成功', {
                icon: 1,
                time: 2000
            });
        });
    </script>
</body>
</html>