<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Java社区</title>
  <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
  <meta name="author" content="Vincent Garreau" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" media="screen" href="/personage/css/style.css"/>
  <link rel="stylesheet" type="text/css" href="/personage/css/reset.css"/>
	<script src="/plugins/bootstrap-3.3.7-dist/js/jquery.js"></script>
</head>
<body>

<div id="particles-js">
		<div class="login">
			<div class="login-top">
				注册
			</div>
			<div class="login-center clearfix">
				<div class="login-center-img"><img src="/personage/img/email.jpg"/></div>
				<div class="login-center-input">
					<input type="email" name="email" placeholder="请输入您的邮箱" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的邮箱'"/>
					<div class="login-center-input-text">邮箱</div>
				</div>
			</div>
			<div class="login-center clearfix">
				<div class="login-center-img"><img src="/personage/img/name.png"/></div>
				<div class="login-center-input">
					<input type="text" name="nickName" placeholder="请输入您的昵称" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的昵称'"/>
					<div class="login-center-input-text">昵称</div>
				</div>
			</div>
			<div class="login-center clearfix">
				<div class="login-center-img"><img src="/personage/img/password.png"/></div>
				<div class="login-center-input">
					<input type="password" name="password" placeholder="请输入您的密码" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的密码'"/>
					<div class="login-center-input-text">密码</div>
				</div>
			</div>
			<div class="login-center clearfix">
				<div class="login-center-img"><img src="/personage/img/password.png"/></div>
				<div class="login-center-input">
					<input type="password" placeholder="请再次输入密码" onfocus="this.placeholder=''" onblur="this.placeholder='请再次输入密码'"/>
					<div class="login-center-input-text">再次输入密码</div>
				</div>
			</div>
			<div class="login-button">
				注册
			</div>
		</div>
		<div class="sk-rotating-plane"></div>
</div>

<!-- scripts -->
<script src="/personage/js/particles.min.js"></script>
<script src="/personage/js/app.js"></script>
<script src="/plugins/jquery-validation-1.19.1/dist/jquery.validate.js"></script>

</body>
</html>